body{
    background-color:#3b4717;
}
main{
    margin: 3rem;
    padding: 10rem 0;
}
h1, h2{
    color:#f8f8ee;
    font-family: 'Pirata One';
}
h3{
    color:#f8f8ee;
    font-family: 'Delius Swash Caps';
}
p{
    color:#f8f8ee;
    font-family: 'Delius Swash Caps';
}
.home{
    border-radius:20px;
    background-color:#5f2e1c;
    margin:2rem;
    text-align:center;
    padding: 1rem;
    width: 20rem;
}
.flex{
    display: flex;
    flex-direction:column;
    align-items:center;
}
.spotlight{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.spotlight img{
    width: 20rem;
}
header{
    background-image:url(Images/background.png);
    background-repeat:repeat;
    background-size: 10rem;
    max-height: 10rem;
    top:0;
    width:100%;
    padding: 2rem 2rem 2rem 0;
    position:fixed;
    z-index: 1;
}
header{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}
h1{
    font-size:4rem;
    padding: 0 2rem;
}
header img{
    max-height: 10rem;
    background-color:#3b4717;
    padding: 2rem 2rem 2rem 1rem;
}
header nav{
    position: absolute;
    width: 30%;
    top: 15rem;
}
header nav a{
    background-color: #bb6031;
    display:block;
    color: #f8f8ee;
    text-align: center;
    text-decoration: none;
    font-family: 'Delius Swash Caps';
    padding: 2rem;
    border-radius: 3rem;
    top:0;
}
header nav a:nth-child(even){
    background-color:#f8ae67;
}
header nav{
    left: -100%;
}
header nav.show{
    left:0;
}
header nav{
    transition-property:left;
    transition-duration:.5s;
    transition-timing-function: ease-in-out;
    top: 4.75rem;
}
.small{
    font-size:3rem;
}
.mission{
    border-radius:20px;
    background-color:#5f2e1c;
    margin:2rem;
    text-align:center;
    padding: 1rem;
}
.practice{
    margin: 10rem 0;
    display:block;
}
.practice div{
    background-color: #bb6031;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 0 1rem 0 2rem;
    margin: 4rem 2rem 4rem 0;
    position:relative;
    font-size: 1rem;
}
.practice a{
    border-radius:200%;
    background-color:#f8ae67;
    position:absolute;
    right:0;
    padding:2rem;
    color:#f8f8ee;
    font-family: 'Just Another Hand';
    text-decoration: none;
    font-size: 2rem;
    border:4px solid #f8f8ee;
}
.practice a:hover{
    color: #3b4717;
    border:4px solid #3b4717;
}
.menu{
    position:relative;
}
.menu h3{
    background-color: #bb6031;
    display:block;
    color: #f8f8ee;
    text-align: center;
    text-decoration: none;
    font-family: 'Delius Swash Caps';
    padding: 2rem;
    border-radius: 10em;
    top:0;
}
.toggle-menu a{
    background-color: #bb6031;
    display:block;
    color: #f8f8ee;
    text-align: center;
    text-decoration: none;
    font-family: 'Delius Swash Caps';
    padding: 2rem;
    border-radius: 10em;
    top:0;
}
.toggle-menu a:nth-child(even){
    background-color:#f8ae67;
}
.toggle-menu{
    position: absolute;
    width: 100%;
    display:none;
}
.toggle-menu.show{
    display:block;
    top:0;
}
.toggle-menu a:hover{
    border: 2px solid #3b4717;
    color:#3b4717;
}
.menu img{
    width: 100%;
    display:block;
    align-items:center;
}
.adventure{
    background-color:#5f2e1c;
    display:block;
    text-align: center;
    font-family: 'Pirata One';
    padding: 2rem;
    border-radius: 8em;
    border: 4px solid #bb6031;
    margin: 4rem 0;
}
.adventure:hover{
    background-color: #bb6031;
    border: 4px solid #5f2e1c;
}
.adventure h2{
    color: #bb6031;
}
.adventure h2:hover{
    color:#5f2e1c;
}
.orange a{
    font-family: 'Delius Swash Caps';
    background-color:#bb6031;
    border: 2px solid #f8f8ee;
    text-align:center;
    padding: 1rem;
    width: 20%;
    position:fixed;
    right:0;
    bottom:65%;
    color: #f8f8ee;
    text-decoration:none;
    border-radius: 10rem;
}
.orange a:hover{
    color:#3b4717;
    border: 2px solid #3b4717;
}
.orange h3{
    font-family: 'Delius Swash Caps';
    background-color:#bb6031;
    border: 2px solid #f8f8ee;
    text-align:center;
    color: #f8f8ee;
    text-decoration:none;
    border-radius: 10rem;
    padding: 1rem;
}
.merch{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;   
}
.merch img{
    max-width: 10rem;
    max-height:10rem;
    border:3px solid #5f2e1c;
    margin: 1rem;
    border-radius: 2rem;
}
.subscriptions{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.subscriptions h2{
    max-width: 10rem;
    max-height:10rem;
    border:3px solid #5f2e1c;
    margin: 1rem;
    border-radius: 2rem;
    background-color:#f8f8ee;
    color:#5f2e1c;
    padding: 5rem;
}
.subscriptions h2:nth-child(1):hover{
    background-color:rgb(185, 130, 10);
    color:#f8f8ee;
}
.subscriptions h2:nth-child(2):hover{
    background-color:rgb(100, 100, 100);
    color:#f8f8ee;
}
.subscriptions h2:nth-child(3):hover{
    background-color: #804a00;
    color:#f8f8ee;
}
.profile{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.account{
    background-color:#f8f8ee;
    border-radius:2rem;
    padding: 1rem 8rem 2rem 3rem;
    color: #3b4717;
}
.avatar img{
    max-width: 20rem;
    border:3px solid #5f2e1c;
    margin: 1rem;
    border-radius: 2rem;
}